<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <center><a href="http://shop.oreilly.com/product/0636920034407.do"><img src="/images/cover.jpg"></a></center>
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Table of Contents</a>

{% for weight in (1..site.pages.size) %}
  {% assign pages_list = site.pages %}
   {% for node in pages_list %}
    {% if node.weight == weight %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item-child{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
