<li><a href="/back">Back Cover</a></li>
<li>Preface</li>
<p>Data Modeling</p>
<li><a href="/science">Science</a></li>
<li><a href="/variation">Variation</a></li>
<li><a href="/data-science">Data Science</a></li>
<li><a href="/tests">Tests</a></li>
<li><a href="/models">Models</a></li>
<li><a href="/prediction">Predictions</a></li>
<p>Data Wrangling</p>
<li>Importing Data</li>
<li>Tidy Data</li>
<li>Data Tidying</li>
<li>Data Manipulation</li>
<p>Data visualization</p>
<li>The Grammar of Graphics</li>
<li>Interactive Visualizations</li>
