<ul>
  <li><a href="/back">Back Cover</a></li>
  <li>Preface</li>
</ul>

<h5>Data Modeling</h5>
<ul>
  <li><a href="/science">Science</a></li>
  <li><a href="/distributions">Distributions</a></li>
  <li><a href="/model-fitting">Model Fitting</a></li>
  <li><a href="/model-selection">Model Selection</a></li>
  <li>Machine Learning</li>
  <li><a href="/inference">Inference</a></li>
</ul>

<h5>Data Wrangling</h5>
<ul>
  <li>Importing Data</li>
  <li>Tidy Data</li>
  <li><a href="/tidying">Data Tidying</a></li>
  <li>Data Manipulation</li>
</ul>

<h5>Data Visualization</h5>
<ul>
  <li>The Grammar of Graphics</li>
  <li>Interactive Visualizations</li>
</ul>
