<ul>
  <li><a href="/back">Back Cover</a></li>
  <li>Preface</li>
</ul>

<h3>Data Modeling</h3>
<ul>
  <li><a href="/science">Science</a></li>
  <li><a href="/variation">Variation</a></li>
  <li><a href="/data-science">Data Science</a></li>
  <li><a href="/tests">Tests</a></li>
  <li><a href="/models">Models</a></li>
  <li><a href="/prediction">Predictions</a></li>
</ul>

<h3>Data Wrangling</h3>
<ul>
  <li>Importing Data</li>
  <li>Tidy Data</li>
  <li>Data Tidying</li>
  <li>Data Manipulation</li>
</ul>

<h3>Data visualization</h3>
<ul>
  <li>The Grammar of Graphics</li>
  <li>Interactive Visualizations</li>
</ul>
